.img-lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .img-list{
        width:2.45rem;
        height:2.45rem;
        margin-bottom:5px;
        img{
            width:100%;
            height:100%;
        }
    }
}
.img-lists:after{
    content: '';
    width: 33%;
  }
  .img-list{
    width:33%;
  }