@import '../extend/variables.less';
@import '../extend/mixins.less';
.m-navbar {
  padding:0.1rem .24rem;
  background-color:#e72734;
  .form-control {
    height:100%;
    flex:1;
    position: relative;
    .icon {
      position: absolute;
      top: 50%;
      width: 18px;
      height: 18px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 6px;
      font-size: 20px;
      color: #c9c9c9;
      background: url(../../imgs/search-icon.png) center no-repeat;
      background-size: 100% 100%;
      &:before {
        display: none;
      }
    }
   
    input {
      width:100%;
      height:100%;
      border:none;
      outline:none;
      border-radius: 4px;
      background-color:#fff;
      padding-left:30px;
      &::placeholder {
        color:#000;
      }
    }
  }
  .form-right {
    width:.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-size:14px;
    margin-left:10px;
    i {
      font-size:18px;
    }
  }
}
.wb-items {
  padding:0 .24rem;
  .wb-item {
    padding:20px 0;
    position: relative;
    &:after {
      .bottom-line(#ccc)
    }
  }
  .wb-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:10px;
    dl {
      display: flex;
      align-items: center;
      dt {
        display: flex;
        justify-content: center;
      }
    }
    .header-right-arrow {
      font-size:24px;
      color:#bec2c9;
      font-weight: bold;
    }
    .user-photo {
      width:.66rem;
      height:.66rem;
      img {
        width:100%;
        height:100%;
        border-radius: 50%;
      }
      margin-right:.2rem;
    }
    .user-name {
      font-weight: normal;

    }
    .user-position {
      color:#979797;
      font-size:12px;
    }

  }
  .wb-text {
    font-size:18px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}
.wb-imgs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin:12px 0;
  .img-list {
    width: 33.33%;
    height:1.6rem;
    position: relative;
    overflow:hidden;
    border: 2px solid transparent;
    img {
      position: absolute;
      top:50%;
      transform:translateY(-50%);
      width:100%;
    }
  }
}
.wb-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .awesome-left {
    display: flex;
    align-items: center;
    ul {
      li {
        float:left;
        width:.4rem;
        height:.4rem;
        margin-left:-5px;
      }
      img {
        width:100%;
        height:100%;
        border-radius: 50%;
      }
    }
    time {
      color:rgb(193, 193, 193);
      font-size:10px;
      margin-left:10px;

    }
  }
  .awesome-right {
    color:#cacaca;
    font-size:12px;
    font-weight: bold;
  }
}
.m-tabbar {
  height:1.2rem;
  .tabbar-icon {
    font-size:20px;
  }
}
.to-link {
  width:50px;
  height:50px;
  line-height:50px;
  text-align: center;
  font-size:30px;
  font-weight: bold;
  border-radius: 50%;
  color:#fff;
  background-color:#3e90f6;
  position: fixed;
  bottom:100px;
  right:10px;
  opacity: .8;
}